@import "mocha.css";

* {
    color: @text;
    border: 0;
    padding: 0 0;
    font-family: "JetBrains Mono Nerd Font";
}

window#waybar {
    background-color: transparent;
}

window#waybar.solo {
    /* Mocha, but translucent */
    background-color: alpha(@mantle, 0.7);
}

#workspaces {
    background-color: @base;
    margin: 5px;
    border-radius: 15px;
    padding: 0px 15px;
}

#workspaces button {
    border-radius: 0px;
    background-color: @base;
    color: @peach;
    border-bottom: 3px solid @peach;
}

#workspaces button.visible {
    color: @yellow;
    border-bottom: 3px solid @yellow;
}

#workspaces button.focused {
    color: @blue;
    border-bottom: 3px solid @blue;
}

#workspaces button.persistent {
    color: @text;
    border-bottom: 3px solid @base;
}

#tray {
    background-color: @base;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 15px;
    margin: 5px;
}

#mode {
    background-color: @base;
    border-radius: 15px;
    padding: 0px 15px;
    margin: 5px;
}

#mpris {
    background-color: @base;
    border-radius: 15px;
    padding: 0px 15px;
    margin: 5px;
}

#mpris.spotify {
    color: @green;
}

#window {
    margin: 5px;
    background-color: @base;
    padding: 0px 15px;
    border-radius: 15px;
}

window#waybar.empty #window {
	background: rgba(12, 12, 12, 0.0);
}

.modules-right {
    background-color: @base;
    margin: 5px;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#privacy {
    background-color: @base;
    padding: 0px 5px 0px 0px;
}

#clock {
    background-color: @base;
    color: @mauve;
    padding: 0px 5px 0px 5px;
}

#memory {
    background-color: @base;
    color: @sky;
    padding: 0px 5px 0px 5px;
}

#cpu {
    background-color: @base;
    padding: 0px 5px 0px 5px;
}

#network {
    background-color: @base;
    color: @pink;
    padding: 0px 5px 0px 5px;
}

#bluetooth {
    background-color: @base;
    color: @blue;
    padding: 0px 5px 0px 5px;
}

#battery {
    background-color: @base;
    padding: 0px 5px 0px 5px;
}

#idle_inhibitor {
    background-color: @base;
    color: @peach;
    padding: 0px 0px 0px 5px;
}
