// Colors
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
$accent: $peach;

// Size
$bor_radius: 5px;
$bor_width: 2px;

* {
	font-family: "JetBrainsMono Nerd Font";
}

button {
	all: unset;
}

button:hover {
	background-color: $overlay0;
}

label {
	color: $text;
}

.background_window,
.background_window_sec {
	background: rgba(0, 0, 0, 0.2);
}

.start_window,
.workspaces_window,
.window_window,
.music_window,
.tray_window,
.sys_window,
.clock_window,
.power_window,
.startmenu_window,
.musicmenu_window,
.sysmenu_window,
.clockmenu_window,
.powermenu_window,
.start_window_sec,
.workspaces_window_sec,
.window_window_sec,
.music_window_sec,
.tray_window_sec,
.sys_window_sec,
.clock_window_sec,
.power_window_sec,
.startmenu_window_sec,
.musicmenu_window_sec,
.sysmenu_window_sec,
.clockmenu_window_sec,
.powermenu_window_sec {
	background: rgba(0, 0, 0, 0);
}

.cell {
	background-color: $base;
	color: $text;
	border-style: solid;
	border-color: $accent;
	border-width: $bor_width;
	border-radius: $bor_radius;
}

.workspace {
	font-family: "JetBrainsMono Nerd Font Mono";
}

.hidden {
	color: $text;
}

.displayed {
	color: $yellow;
}

.focused {
	color: $green;
}

.music_border {
	border-style:         solid;
	border-width:         $bor_width;
	border-color:         $accent;
	border-radius:        $bor_radius;
	background-color:     $base;
}

.music_background {
	background-repeat:    no-repeat;
	background-size:      cover;
	background-position:  center center;
	border-radius:        $bor_radius;
	opacity:              0.4;
}

.music_cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: $bor_radius 0px 0px $bor_radius;
  	margin: $bor_width 10px $bor_width $bor_width;
}

menubar {
	background-color: $base;
}

menuitem {
	margin: -5px;
}

.cpu {
	color: $pink;
}

.ram {
	color: $mauve;
}

.vol-full,
.vol-mid,
.vol-low {
	color: $sapphire
}

.vol-muted {
	color: $red;
}

.battery-charging-full,
.battery-charging-90,
.battery-charging-80,
.battery-full,
.battery-90,
.battery-80 {
	color: $green;
}

.battery-charging-70,
.battery-charging-60,
.battery-charging-50,
.battery-charging-40,
.battery-70,
.battery-60,
.battery-50,
.battery-40 {
	color: $yellow;
}

.battery-charging-30,
.battery-charging-20,
.battery-charging-10,
.battery-charging-empty,
.battery-30,
.battery-20,
.battery-10,
.battery-empty {
	color: $red;
}

.start_clock_time {
	font-size: 40px;
	margin: 10px;
}

.start_clock_date {
	font-size: 20px;
	margin: 10px;
}

.profile {
	border-style: solid;
	border-width: $bor_width;
	border-radius: $bor_radius;
	border-color: $overlay2;
}

.separator {
	border-style: solid;
	border-width: 1px;
	border-color: $overlay2;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lock_icon,
.shutdown_icon,
.suspend_icon,
.logout_icon,
.reboot_icon {
	font-size: 25px;
}
