// Colors
$base: #1e1e2e;
$text: #cdd6f4;
$accent: #fab387;

// Size
$bor_radius: 5px;
$bor_width: 2px;

* {
	font-family: "JetBrainsMono Nerd Font";
}

button {
	all: unset;
}

label {
	font-size: 15px;
	color: $text;
}

.background_window {
	background: rgba(0, 0, 0, 0.2);
}

.start_window,
.workspaces_window,
.window_window,
.music_window,
.tray_window,
.sys_window,
.clock_window,
.power_window {
	background: rgba(0, 0, 0, 0);
}

.cell {
	background-color: $base;
	color: $text;
	border-style: solid;
	border-color: $accent;
	border-width: $bor_width;
	border-radius: $bor_radius;
}

.workspace {
	font-size: 24px;
	font-family: "JetBrainsMono Nerd Font Mono";
}

.music_border {
	border-style:         solid;
	border-width:         $bor_width;
	border-color:         $accent;
	border-radius:        $bor_radius;
	background-color:     $base;
}

.music_background {
	background-repeat:    no-repeat;
	background-size:      cover;
	background-position:  center center;
	border-radius:        $bor_radius;
	opacity:              0.4;
}

.music_cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: $bor_radius 0px 0px $bor_radius;
  	margin: $bor_width 10px $bor_width $bor_width;
}

.music_title {
	font-size: 13px;
}

.music_artist {
	font-size: 12px;
}

menubar {
	background-color: $base;
}

menuitem {
	margin: -5px;
}
