[
  {
    "battery": {
      "format": "{icon}  {capacity}%",
      "format-icons": [
        "",
        "",
        "",
        "",
        ""
      ],
      "interval": 60,
      "states": {
        "critical": 15,
        "warning": 30
      }
    },
    "bluetooth": {
      "format": "",
      "format-connected": "󰂱",
      "format-disabled": "󰂲",
      "format-off": "󰂲",
      "format-on": "",
      "tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
      "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
      "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
      "tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%"
    },
    "clock": {
      "actions": {
        "on-click-backward": "tz_down",
        "on-click-forward": "tz_up",
        "on-click-right": "mode",
        "on-scroll-down": "shift_down",
        "on-scroll-up": "shift_up"
      },
      "calendar": {
        "format": {
          "days": "<span color='#f5e0dc'><b>{}</b></span>",
          "months": "<span color='#cdd6f4'><b>{}</b></span>",
          "today": "<span color='#f38ba8'><b><u>{}</u></b></span>",
          "weekdays": "<span color='#f9e2af'><b>{}</b></span>",
          "weeks": "<span color='#89dceb'><b>W{}</b></span>"
        },
        "mode": "month",
        "mode-mon-col": 3,
        "on-click-right": "mode",
        "on-scroll": 1,
        "weeks-pos": "right"
      },
      "format": "  {:%H:%M 󰃭 %a %b %d %Y}",
      "timezone": "America/Chicago",
      "tooltip-format": "<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "{icon} {usage}%",
      "format-icons": [
        "<span color='#a6e3a1'> </span>",
        "<span color='#a6e3a1'> </span>",
        "<span color='#f9e2af'> </span>",
        "<span color='#f9e2af'> </span>",
        "<span color='#fab387'> </span>",
        "<span color='#fab387'> </span>",
        "<span color='#f38ba8'> </span>",
        "<span color='#f38ba8'> </span>"
      ],
      "interval": 5,
      "tooltip": true,
      "tooltip-format": "{avg_frequency} GHz"
    },
    "height": 30,
    "hyprland/window": {
      "format": "{title}",
      "max-length": 50
    },
    "hyprland/workspaces": {
      "all-outputs": true,
      "format": "{icon}",
      "format-icons": {
        "1": "󰲡",
        "10": "󰿭",
        "2": "󰲣",
        "3": "󰲥",
        "4": "󰲧",
        "5": "󰲩",
        "6": "󰲫",
        "7": "󰲭",
        "8": "󰲯",
        "9": "󰲱"
      },
      "persistent-workspaces": {
        "1": [],
        "10": [],
        "2": [],
        "3": [],
        "4": [],
        "5": [],
        "6": [],
        "7": [],
        "8": [],
        "9": []
      }
    },
    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": " ",
        "deactivated": "󰒲 "
      }
    },
    "layer": "top",
    "margin": "0 0 0 0",
    "memory": {
      "format": "  {percentage}% 󰓡 {swapPercentage}%",
      "tooltip": true,
      "tooltip-format": "{used:0.1f} GiB Used, {swapUsed:0.1f} GiB Swap"
    },
    "modules-center": [
      "sway/window"
    ],
    "modules-left": [
      "sway/workspaces",
      "sway/mode",
      "tray",
      "mpris"
    ],
    "modules-right": [
      "privacy",
      "clock",
      "memory",
      "cpu",
      "network",
      "bluetooth",
      "battery",
      "idle_inhibitor"
    ],
    "mpris": {
      "format": "{player_icon} - {title}",
      "format-paused": "{player_icon} - {status_icon} - {title}",
      "player-icons": {
        "brave": "󰄛 ",
        "default": " ",
        "firefox": "󰈹 ",
        "spotify": " "
      },
      "status-icons": {
        "paused": ""
      },
      "title-len": 20
    },
    "network": {
      "format-ethernet": "   {bandwidthUpOctets}  {bandwidthDownOctets}",
      "format-icons": [
        "󰤯 ",
        "󰤟 ",
        "󰤢 ",
        "󰤥 ",
        "󰤨 "
      ],
      "format-wifi": "{icon}",
      "tooltip": true,
      "tooltip-format-wifi": "{essid}  {bandwidthUpOctets}  {bandwidthDownOctets}"
    },
    "output": [
      {{ if eq .chezmoi.hostname "mars" }}
      "eDP-1",
      "HDMI-A-1"
      {{ else if eq .chezmoi.hostname "terra" }}
      "DP-1",
      "DP-2"
      {{ end }}
    ],
    "position": "top",
    "privacy": {
      "icon-size": 20,
      "icon-spacing": 5,
      "modules": [
        {
          "tooltip": true,
          "tooltip-icon-size": 20,
          "type": "screenshare"
        },
        {
          "tooltip": true,
          "tooltip-icon-size": 20,
          "type": "audio-in"
        },
        {
          "tooltip": true,
          "tooltip-icon-size": 20,
          "type": "audio-out"
        }
      ],
      "transition-duraiton": 250
    },
    "sway/mode": {
      "format": "<span style=\"italic\">{}</span>",
      "max-length": 15
    },
    "sway/window": {
      "format": "{title}",
      "max-length": 50,
      "rewrite": {
        "^-?=?+?(.*)": "$1"
      }
    },
    "sway/workspaces": {
      "all-outputs": true,
      "disable-scroll": true,
      "format": "{icon}",
      "format-icons": {
        "1": "󰲡",
        "10": "󰿭",
        "2": "󰲣",
        "3": "󰲥",
        "4": "󰲧",
        "5": "󰲩",
        "6": "󰲫",
        "7": "󰲭",
        "8": "󰲯",
        "9": "󰲱"
      },
      "persistent-workspaces": {
        "1": [],
        "10": [],
        "2": [],
        "3": [],
        "4": [],
        "5": [],
        "6": [],
        "7": [],
        "8": [],
        "9": []
      }
    },
    "tray": {
      "icon-size": 15,
      "spacing": 5
    }
  }
]
