* {
    color: #cdd6f4;
    border: 0;
    padding: 0 0;
    font-family: "JetBrains Mono Nerd Font";
}

window#waybar {
    background-color: #11111b;
}

#workspaces {
    background-color: #1e1e2e;
    margin: 5px;
    border-radius: 15px;
    padding: 0px 15px;
}

#workspaces button {
    border-radius: 0px;
    background-color: #1e1e2e;
    color: #c4a7e7;
    border-bottom: 3px solid #c4a7e7;
    padding: 0px 10px;
}

#workspaces button.visible {
    color: #f9e2af;
    border-bottom: 3px solid #f9e2af;
}

#workspaces button.active,
#workspaces button.focused {
    color: #9ccfd8;
    border-bottom: 3px solid #9ccfd8;
}

#workspaces button.persistent
{
    color: #e0def4;
    border-bottom: 3px solid #1e1e2e;
}

#tray {
    background-color: #1e1e2e;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 15px;
    margin: 5px;
}

#mode {
    background-color: #1e1e2e;
    border-radius: 15px;
    padding: 0px 15px;
    margin: 5px;
}

#mpris {
    background-color: #1e1e2e;
    border-radius: 15px;
    padding: 0px 15px;
    margin: 5px;
}

#mpris.spotify {
    color: #a6e3a1;
}

#window {
    margin: 5px;
    background-color: #1e1e2e;
    padding: 0px 15px;
    border-radius: 15px;
}

window#waybar.empty #window {
	background: rgba(12, 12, 12, 0.0);
}

.modules-right {
    background-color: #1e1e2e;
    margin: 5px;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#privacy {
    background-color: #1e1e2e;
    padding: 0px 5px 0px 0px;
}

#clock {
    background-color: #1e1e2e;
    color: #cba6f7;
    padding: 0px 5px 0px 5px;
}

#memory {
    background-color: #1e1e2e;
    color: #89dceb;
    padding: 0px 5px 0px 5px;
}

#cpu {
    background-color: #1e1e2e;
    padding: 0px 5px 0px 5px;
}

#network {
    background-color: #1e1e2e;
    color: #f5c2e7;
    padding: 0px 5px 0px 5px;
}

#bluetooth {
    background-color: #1e1e2e;
    color: #89b4fa;
    padding: 0px 5px 0px 5px;
}

#battery {
    background-color: #1e1e2e;
    padding: 0px 5px 0px 5px;
}

#battery.warning {
    background-color: #f9e2af;
}

#battery.critical {
    background-color: #eb6f92;
}

#idle_inhibitor {
    background-color: #1e1e2e;
    color: #f9e2af;
    padding: 0px 0px 0px 5px;
}
